# Base de datos
MONGODB_URI_ATLAS=URL_DE_CONEXION_MONGODB_ATLAS

# Autenticación
JWT_SECRET=CLAVE_SECRETA_JWT

# URL del frontend
URL_FRONTEND=URL_DEL_FRONTEND_DESPLEGADO

# Configuración de correo electrónico
HOST_MAILTRAP=smtp.gmail.com
PORT_MAILTRAP=465
USER_MAILTRAP=CORREO_EMISOR
PASS_MAILTRAP=CLAVE_DE_APLICACION_DEL_CORREO

# Cloudinary
CLOUDINARY_CLOUD_NAME=NOMBRE_DEL_CLOUD
CLOUDINARY_API_KEY=API_KEY_CLOUDINARY
CLOUDINARY_API_SECRET=API_SECRET_CLOUDINARY

# RapidAPI
RAPIDAPI_KEY=API_KEY_RAPIDAPI
RAPIDAPI_HOST_DOGS=random-dog-facts.p.rapidapi.com
RAPIDAPI_HOST_TRANSLATE=deep-translate1.p.rapidapi.com

# Datos iniciales para seeds
ADMIN_EMAIL=CORREO_ADMINISTRADOR
ADMIN_PASSWORD=CONTRASEÑA_ADMINISTRADOR
ADMIN_NOMBRE=NOMBRE_ADMINISTRADOR
ADMIN_APELLIDO=APELLIDO_ADMINISTRADOR
ADMIN_TELEFONO=TELEFONO_ADMINISTRADOR

DUENO_EMAIL=CORREO_DUENO
DUENO_PASSWORD=CONTRASEÑA_DUENO
DUENO_NOMBRE=NOMBRE_DUENO
DUENO_APELLIDO=APELLIDO_DUENO
DUENO_TELEFONO=TELEFONO_DUENO

CUIDADOR_EMAIL=CORREO_CUIDADOR
CUIDADOR_PASSWORD=CONTRASEÑA_CUIDADOR
CUIDADOR_NOMBRE=NOMBRE_CUIDADOR
CUIDADOR_APELLIDO=APELLIDO_CUIDADOR
CUIDADOR_TELEFONO=TELEFONO_CUIDADOR